name: Clone to dev_repo

on:
  push:
    branches:
      - release

jobs:
  clone_to_dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Push main branch into release
        uses: codingforentrepreneurs/action-branch-to-branch@main
        with:
          dest_branch: 'dev_repo'
          source_branch: 'release'
          commit_message: 'Release production version'
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
