name: Trigger Databricks Job

on:
  workflow_run:
    workflows: ["Databricks job migration"]
    # types:
    #   - completed

# jobs:
#   trigger:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Check if the previous workflow was successful
#         id: check_status
#         run: echo ::set-output name=status::${{ github.event.workflow_run.conclusion == 'success' }}

#       - name: Trigger workflow_dispatch if successful
#         if: steps.check_status.outputs.status == 'true'
#         run: |
#           curl -X POST \
#             -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
#             -H "Accept: application/vnd.github.v3+json" \
#             https://api.github.com/repos/${{ msakare/sage-datbricks }}/actions/workflows/Databricks%20job%20migration/dispatches \
#             -d '{
#               "ref": "dev_jobs",
#               "inputs": {
#                 "job_id": "${{ github.event.workflow_run.workflow_job.outputs.JOB_ID }}"
#                 "type": "choice"
#               }
#             }'
jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Other Workflow
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: msakare/sage-databricks  # Replace with the target repository
          workflow: Databricks job migration
          ref: dev_jobs  # Replace with the branch you want to trigger the workflow on
          inputs:
            job_id: ${{ env.JOB_ID }}







